= form_for @visitor do |f|
  - if @visitor.errors.any?
    #error_explanation
      %h2= "#{pluralize(@visitor.errors.count, "error")} prohibited this visitor from being saved:"
      %ul
        - @visitor.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :ip
    = f.text_field :ip
  .field
    = f.label :section_id
    = f.number_field :section_id
  .field
    = f.label :software_id
    = f.number_field :software_id
  .field
    = f.label :page_id
    = f.number_field :page_id
  .actions
    = f.submit 'Save'
