%h1 Listing visitors

%table
  %tr
    %th Ip
    %th Section
    %th Software
    %th Page
    %th
    %th
    %th

  - @visitors.each do |visitor|
    %tr
      %td= visitor.ip
      %td= visitor.section_id
      %td= visitor.software_id
      %td= visitor.page_id
      %td= link_to 'Show', visitor
      %td= link_to 'Edit', edit_visitor_path(visitor)
      %td= link_to 'Destroy', visitor, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Visitor', new_visitor_path
