%p#notice= notice

%p
  %b Ip:
  = @visitor.ip
%p
  %b Section:
  = @visitor.section_id
%p
  %b Software:
  = @visitor.software_id
%p
  %b Page:
  = @visitor.page_id

= link_to 'Edit', edit_visitor_path(@visitor)
\|
= link_to 'Back', visitors_path
