= form_for @fonticon do |f|
  - if @fonticon.errors.any?
    = error_display(@fonticon)

  .field
    = f.label :icon
    = f.text_field :icon

  - if @fonticon.persisted?
    .fonticon-icon-prev
      %h4 Preview
      %i{ class: "fa #{@fonticon.icon} icon-2x" }

  .actions
    = f.submit 'Save', class: 'btn btn-primary buttons-submit'
