%h1 Listing Font Icons

- add_button('Fonticon', new_fonticon_path)

%table.table.table-striped
  %tr
    %th Icon
    %th Preview
    %th Edit
    %th Delete

  - @fonticons.each do |fonticon|
    %tr
      %td= fonticon.icon
      %td
        %i{ class: "fa #{fonticon.icon}" }
      %td
        = link_to edit_fonticon_path(fonticon) do
          %i.icon-edit
      %td
        = link_to fonticon, method: :delete, data: { confirm: 'Are you sure?' } do
          %i.icon-trash

%br
- add_button('Fonticon', new_fonticon_path)
- back_button('Home', sections_path)
