= form_for [@section, @software, @page, @instruction] do |f|
  - if @instruction.errors.any?
    = error_display(@instruction)

  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :info
    = f.text_area :info, class: 'tinymce'
    = tinymce
  .field
    = f.label :picture
    = f.file_field :picture

  .ins-picture-preview
    - if @instruction.persisted?
      - unless @instruction.picture.blank?
        = image_tag @instruction.picture.url(:original)

        %br
        - delete_button('Picture',
            section_software_page_instruction_destroyimage_path(@section,
            @software, @page, @instruction))

  .actions
    = f.submit 'Save', class: 'btn btn-primary buttons-submit'
