%h1 Listing Instructions

#sortable-items{ data: { oncomplete: 'update_instruction_position()',
  url: sort_section_software_page_instructions_path(@section, @software, @page) }}
  - @instructions.each do |instruction|
    .item{ id: instruction.id }
      .header.sort-mover= "Position: #{(instruction.position + 1)}"
      .info= instruction.info[0..100].html_safe

      - show_button('Instruction',
        section_software_page_instruction_path(@section,
                                               @software,
                                               @page,
                                               instruction))

      - edit_button('Instruction',
        edit_section_software_page_instruction_path(@section,
                                                    @software,
                                                    @page,
                                                    instruction))

      - delete_button('Instruction',
        section_software_page_instruction_path(@section,
                                               @software,
                                               @page,
                                               instruction))

%br
- add_button('Instruction',
  new_section_software_page_instruction_path(@section, @software, @page))
- back_button('Back to Page',
  section_software_page_path(@section, @software, @page))
