= form_for @section do |f|
  - if @section.errors.any?
    = error_display(@section)

  .field
    = f.label :icon
    = f.select(:icon, options_for_select(Fonticon.all.map{|ico|[ico.icon, ico.icon]},
      selected: @section.icon))
    %a.btn.icon-preview-button{ href: '#icon-selector-model', title: 'Icon Selector',
                                role: :button, data: { toggle: :modal }}
      %i.fa.fa-th
      %i#preview-icon.fa.fa-exclamation{ title: ' Preview Icon ' }
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :tags
    = f.text_field :tags
  .actions
    = f.submit 'Save', class: 'btn btn-primary buttons-submit'

= render partial: 'layouts/icon_selector', locals: { target: '#section_icon' }
