%br
%blockquote.application-section{ id: section.name_to_id }
  %h2
    %i{ class: "fa #{section.icon}" }
    = link_to section.name, section_url(section)
  %p= section.description
  %small= section.tags
  - if is_admin?
    - add_button('Software', new_section_software_url(section))
    - edit_button('Section', edit_section_url(section))
    - delete_button('Section', section_url(section))
