.hero-unit
  .header-intro
    This website is for those who wishes to learn Kubuntu.
    The main focus of this website is to show you how to do things in visual
    as much as possible. After all, a picture is worth a thousand words
    and mine starts here.
