%h2 About

.lead
  This website is was made to inform others that there is an alternative
  operating system out there that is cheaper, better, and easier to use.
  Every instructions in this website has been tested using Kbuntu 12.10.
  Over time some of these instructions may change due to updates of the
  operating system or the software itself. When that happend I will try
  to keep the instructions up to date since I myself use all these softwares.

%p
  This website is created, maintained, and updated by myself so please be
  patient if you don't see as much articles. At this point I will not leave
  any contact information since my current job requires a lot of attention
  from me and I do not have time to read through all emails. In the future
  I will setup an email where you can leave your suggestions or correct any
  mistakes I have made. Thanks for understanding.
