= render partial: 'welcome'

- @sections.each do |section|
  = render partial: 'section_box', locals: { section: section }
  - unless section.softwares.blank?
    .software-list
      - section.softwares.each do |software|
        = render partial: 'softwares/software_box',
          locals: { section: section, software: software, is_linked: true }

%br

- if is_admin?
  .admin-section
    %h3 Administrator
    - add_button('Section', new_section_path)
    - list_button('Sections', list_sections_path)
