%h1 Listing Sections

#sortable-items{ data: { url: sort_sections_path } }
  - @sections.each do |section|
    .item{ id: section.id }
      .header.sort-mover= section.name
      .info= "Total softwares: #{section.softwares.count}"
      - show_button('Section', section_path(section))
      - edit_button('Section', edit_section_path(section))
      - delete_button('Section', section_path(section))


- if is_admin?
  .admin-section
    %h3 Administrator
    - add_button('Section', new_section_path)
