%p#notice= notice
.breadcrumb
  %li
    = link_to 'Home', sections_path
    %span.divider \
  %li.active= @section.name


= render partial: 'section_box', locals: { section: @section }

- unless @section.softwares.blank?
  = render partial: 'section_software_list',
    locals: { softwares: @section.softwares.by_name }
