= form_for [@section, @software, @page] do |f|
  - if @page.errors.any?
    = error_display(@page)

  .field
    = f.label :position
    = f.number_field :position
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :enabled
    .make-switch
      = f.check_box :enabled
  .actions
    = f.submit 'Save', class: 'btn btn-primary buttons-submit'
