%h1 Listing Pages

#sortable-items{ data: { url: sort_section_software_pages_path(@section,
                                                               @software) } }
  - @software.pages_by_position.each do |page|
    .item{ id: page.id }
      .header.sort-mover
        = page.name
        - if page.enabled
          (enabled)
        - else
          (disabeld)
      .info= "Total instructions: #{page.instructions.count}"
      - show_button('Page',
        section_software_page_path(@section, @software, page))
      - edit_button('Page',
        edit_section_software_page_path(@section, @software, page))
      - delete_button('Page',
        section_software_page_path(@section, @software, page))

%br
- add_button('Page', new_section_software_page_path(@section, @software))
- back_button('Back to Software', section_software_path(@section, @software))
