%p#notice= notice
.breadcrumb
  %li
    = link_to @section.name, sections_path
    %span.divider \
  %li.active= @software.name

= render partial: 'softwares/software_box',
  locals: { section: @section, software: @software }

.row-fluid
  .span8
    .page-contents
      .title= @page.name
      - unless @page.instructions_by_position.blank?
        - @page.instructions_by_position.each do |instruction|
          .instruction= instruction.info.html_safe
          - unless instruction.picture.blank?
            = image_tag instruction.picture.url(:original)

          - if is_admin?
            %br
            - edit_button('Instruction',
                edit_section_software_page_instruction_path(@section,
                @software, @page, instruction))
            - delete_button('Instruction',
                section_software_page_instruction_path(@section,
                @software, @page, instruction))

  .span4
    = render partial: 'softwares/table_of_contents',
      locals: { section: @section, software: @software,
      pages: @software.pages_by_position }

- if is_admin?
  .admin-section
    %h3 Administrator
    - add_button('Instruction',
      new_section_software_page_instruction_path(@section, @software, @page))
    - edit_button('Page', edit_section_software_page_path(@section, @software, @page))
    %br
    - delete_button('Page', section_software_page_path(@section, @software, @page))
    - list_button('Instructions',
      section_software_page_instructions_path(@section, @software, @page))

