= form_for [@section, @software] do |f|
  - if @software.errors.any?
    = error_display(@software)

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :description
    = f.text_area :description, class: 'tinymce'
    = tinymce
  .field
    = f.label :tags
    = f.text_field :tags
  .field
    = f.label :icon
    = f.file_field :icon
  .field
    = f.label :enabled
    .make-switch
      = f.check_box :enabled
  %br
  .actions
    = f.submit 'Save', class: 'btn btn-primary buttons-submit'
