.row-fluid
  .span8
    .application-cointainer{ id: software.name_to_id }
      .appicon= link_to image_tag(software.icon.url(:medium),
                alt: software.name),
                section_software_path(section, software)
      .header= link_to software.name, section_software_path(section, software)
      .description= software.description.html_safe
      .tags= "- #{software.tags}"

  .span4
    - if is_admin?
      - add_button('Page', new_section_software_page_path(section, software))
      - edit_button('Software', edit_section_software_path(section, software))
      - delete_button('Software', section_software_path(section, software))
      - list_button('Pages', section_software_pages_path(section, software))
