- unless pages.blank?
  %ul.nav.nav-tabs.nav-stacked
    - pages.each do |page|
      %li= link_to page.name, section_software_page_path(section, software, page)

- if is_admin?
  - add_button('Page', new_section_software_page_path(section, software))
