%h1 Listing Softwares

%table.table
  %tr
    %th Icon
    %th Name
    %th Enabled
    %th
    %th
    %th

  - @softwares.each do |software|
    %tr
      %td= image_tag software.icon.url(:small)
      %td= software.name
      %td= software.enabled
      %td
        = link_to [@section, software] do
          %i.fa.fa-eye-open
      %td
        = link_to edit_section_software_path(@section, software) do
          %i.fa.fa-edit

- add_button('Software', new_section_software_path(@section))
- back_button('Back to Section', section_path(@section))
