%p#notice= notice
.breadcrumb
  %li
    = link_to @section.name, sections_path
    %span.divider \
  %li.active= @software.name

= render partial: 'software_box',
  locals: { section: @section, software: @software }

.row-fluid
  .span8
    - unless @pages.blank?
      .open-book
        = link_to section_software_page_path(@section,
          @software, @pages.first) do
          %i.fa.fa-book
          Start Reading
      .toc
        %h3 Pages
        - @pages.each do |page|
          .page= link_to page.name,
            section_software_page_path(@section, @software, page)

    - if is_admin?
      %br
      - list_button('Pages', section_software_pages_path(@section, @software))

  .span4
    = render partial: 'table_of_contents',
      locals: { section: @section, software: @software,
      pages: @software.pages_by_position  }


