@font-face {
 font-family: ABeeZee-Italic;
 src: url("/fonts/ABeeZee-Italic.eot") /* EOT file for IE */
}
@font-face {
 font-family: ABeeZee-Italic;
 src: url("/fonts/ABeeZee-Italic.ttf");
 src: local("/fonts/ABeeZee-Italic"),
    url("/fonts/ABeeZee-Italic.otf") format("opentype"),
    url("/fonts/ABeeZee-Italic.svg#ABeeZee-Italic") format("svg");
}


@font-face {
 font-family: ABeeZee-Regular;
 src: url("/fonts/ABeeZee-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: ABeeZee-Regular;
 src: url("/fonts/ABeeZee-Regular.ttf");
 src: local("/fonts/ABeeZee-Regular"),
    url("/fonts/ABeeZee-Regular.otf") format("opentype"),
    url("/fonts/ABeeZee-Regular.svg#ABeeZee-Regular") format("svg");
}



@font-face {
 font-family: Courgette-Regular;
 src: url("/fonts/Courgette-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: Courgette-Regular;
 src: url("/fonts/Courgette-Regular.ttf");
 src: local("/fonts/Courgette-Regular"),
    url("/fonts/Courgette-Regular.otf") format("opentype"),
    url("/fonts/Courgette-Regular.svg#Courgette-Regular") format("svg");
}



@font-face {
 font-family: JuliusSansOne-Regular;
 src: url("/fonts/JuliusSansOne-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: JuliusSansOne-Regular;
 src: url("/fonts/JuliusSansOne-Regular.ttf");
 src: local("/fonts/JuliusSansOne-Regular"),
    url("/fonts/JuliusSansOne-Regular.otf") format("opentype"),
    url("/fonts/JuliusSansOne-Regular.svg#JuliusSansOne-Regular") format("svg");
}



@font-face {
 font-family: Ruluko-Regular;
 src: url("/fonts/Ruluko-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: Ruluko-Regular;
 src: url("/fonts/Ruluko-Regular.ttf");
 src: local("/fonts/Ruluko-Regular"),
    url("/fonts/Ruluko-Regular.otf") format("opentype"),
    url("/fonts/Ruluko-Regular.svg#Ruluko-Regular") format("svg");
}



@font-face {
 font-family: DroidSerif-Regular;
 src: url("/fonts/DroidSerif-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: DroidSerif-Regular;
 src: url("/fonts/DroidSerif-Regular.ttf");
 src: local("/fonts/DroidSerif-Regular"),
    url("/fonts/DroidSerif-Regular.otf") format("opentype"),
    url("/fonts/DroidSerif-Regular.svg#DroidSerif-Regular") format("svg");
}



@font-face {
 font-family: Basic-Regular;
 src: url("/fonts/Basic-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: Basic-Regular;
 src: url("/fonts/Basic-Regular.ttf");
 src: local("/fonts/Basic-Regular"),
    url("/fonts/Basic-Regular.otf") format("opentype"),
    url("/fonts/Basic-Regular.svg#Basic-Regular") format("svg");
}



@font-face {
 font-family: Carme-Regular;
 src: url("/fonts/Carme-Regular.eot") /* EOT file for IE */
}
@font-face {
 font-family: Carme-Regular;
 src: url("/fonts/Carme-Regular.ttf");
 src: local("/fonts/Carme-Regular"),
    url("/fonts/Carme-Regular.otf") format("opentype"),
    url("/fonts/Carme-Regular.svg#Carme-Regular") format("svg");
}

