.button {
  width: 100%;
  max-width: 160px;
  margin-top: 4px;
  color: white;

  a {
    max-width: 160px;
    margin-top: 4px;
  }

  button {
    max-width: 160px;
    margin-top: 4px;
  }
}

.button-black {
  width: 100%;
  max-width: 156px;
  margin-top: 4px;
  color: black;

  a {
    max-width: 156px;
    margin-top: 4px;
  }

  button {
    max-width: 156px;
    margin-top: 4px;
  }
}

.buttons-submit {
  min-width: 180px;
  color: white;
}

.buttons-black {
  min-width: 160px;
  color: black;
}

/* Switch */
.make-switch {
  margin-bottom: 10px;
}

/* Icon Picker */
.icon-preview-button {
  font-size: 1.8em;
  padding: 24px 0px 4px 6px;
}

#icon-selector-model {
  .modal-body {
    .preview {
      float: left;
      width: 55px;
      height: 55px;
      margin: 10px 10px;
    }
    i {
      font-size: 2.4em;
      cursor: pointer;
    }

    i:hover {
      color: #0088cc;
    }

    .selected-icon {
      color: #0066FF;
    }
  }
}

/* TinyMCE */
.mce-tinymce {  margin-bottom: 12px !important; }