/*
    Document   : layout
    Created on : Aug 28, 2013, 10:23:24 PM
    Author     : saimon
    Description:
        Purpose of the stylesheet follows.
        Application level design.
*/

body {
  padding: 8px;
}

/* Header logo { */
.header-logo {
  font-family: "Courgette-Regular", sans-serif;
  text-align: center;
  color: white;
  background: url('/images/logo.jpg');
  margin-top: 4px;
  padding: 32px 0px 30px 0px;
  border: 2px solid #555;
  border-radius: 16px;
  -webkit-border-radius: 16px;
}

.header-logo h1
{ font-size: 4.0em; }

.header-logo h2 {
  font-size: 1.48em;
  padding-top: 8px;
}

/* } Header Logo */
.header-intro {
  font-family: "JuliusSansOne-Regular", sans-serif;
  font-size: 1.0em;
}

/* Footer */
footer {
  font-family: "ABeeZee-Italic", sans-serif;
  font-size: small;
  text-align: center;
  color: #666666;
  padding: 8px 8px;
}

/* ICON Preview */
.preview-icon {
  margin-left: 8px;
}

/* Left main menu */
.root-navigation {
  padding: 10px 4px 2px 2px;
}

.root-navigation a {
  font-size: 1.8em;
}


/* Admin section */
.admin-section {
  float: left;
  width: 100%;
  font-family: 'Basic-Regular', arial;
}