.page-contents {
  padding: 16px 4px;
  .title {
    font-family: 'Ruluko-Regular', arial;
    font-size: 2.0em;
    padding: 8px 0px;
  }

  .instruction {
    font-family: 'Basic-Regular', arial;
    font-size: 1.2em;
    padding: 8px;
  }
}

#sortable-items {
  .item
  {
    padding: 16px 4px;

    .header
    {
      font-size: 1.8em;
      cursor: ns-resize;
    }

    .info
    {
      padding: 8px 0px 4px 8px;;
      font-size: 1.2em;
      color: #555555;
    }
  }
}