.application-cointainer
{
  margin-bottom: 16px;
  .appicon
  {
    margin-right: 8px;
    width: 128px;
    float: left;
  }

  .header
  {
    font-family: 'ABeeZee-Regular', arial;
    font-size: 1.4em;
    border-bottom: thin #cccccc solid;
  }

  .description {
    font-family: 'Carme-Regular', arial;
    overflow: hidden;
    height: 111px;
  }

  .tags {
    font-family: 'ABeeZee-Italic', arial;
    font-size: 0.9em;
    color: #666666;
    overflow: hidden;
  }
}


.toc {
  padding-left: 32px;
  .page {
    padding-left: 32px;
    font-size: 1.2em;
  }
}

.open-book {
  padding-top: 20px;
  font-size: 2.4em;
  text-align: center;
}