.modal.hide.fade#icon-selector-model{ tabindex: '-1',
  data: { target: target, role: :dialog }}
  .modal-header
    %button{ type: :button, class: :close, data: { dismiss: :modal }, aria: { hidden: :true} }
      &times;
    %h3 Icon Selector
  .modal-body
    - Fonticon.all.each do |icon|
      .preview
        %i{ id: icon.icon, class: "fa #{icon.icon}", title: icon.icon }
  .modal-footer
    %a.btn{ href: '#', data: { dismiss: :modal }, aria: { hidden: :true }}Close
