.root-navigation
  %ul.nav.nav-pills.nav-stacked
    %li
      = link_to sections_url do
        %i.fa.fa-home
        Home
    - @sections.each do |section|
      %li
        %a{ href: section_url(section) }
          %i{ class: "fa #{section.icon}" }
            = section.name
    %li
      = link_to about_sections_url do
        %i.fa.fa-building
        About us
