!!! 5
%html
  %head
    %title Linuxkde
    %meta{ charset: 'UTF-8' }
    %meta{ content: 'Learn Linux in KDE environment', name: 'description' }
    %meta{ content: 'saimon lovell', name: 'author' }
    %meta{ content: '1 day', name: 'revisit-after' }
    %meta{ http_equiv: 'X-UA-Compatible', content: 'IE=edge,chrome=1' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

  %body>
    = render partial: 'layouts/header'

    .row
      .span4= render partial: 'layouts/menu'
      .span8= yield

    %footer
      LinuxKDE &COPY; 2013
